In [5]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv('data_balita.csv')
df

        Umur (bulan) Jenis Kelamin  Tinggi Badan (cm)       Status Gizi
0                  0     laki-laki          44.591973           stunted
1                  0     laki-laki          56.705203            tinggi
2                  0     laki-laki          46.863358            normal
3                  0     laki-laki          47.508026            normal
4                  0     laki-laki          42.743494  severely stunted
...              ...           ...                ...               ...
120994            60     perempuan         100.600000            normal
120995            60     perempuan          98.300000           stunted
120996            60     perempuan         121.300000            normal
120997            60     perempuan         112.200000            normal
120998            60     perempuan         109.800000            normal

[120999 rows x 4 columns]

hal dapat dianalisi dari data balita tersebut:
- Korelasi usia & berat badan: Apakah semakin tua usia balita, berat badannya juga naik? menggunakan scatter plot, Jika titik-titik membentuk pola naik, berarti ada tren pertumbuhan berat badan sesuai usia.
- Perbandingan berat badan berdasarkan jenis kelamin: Apakah ada pola berbeda antara balita laki-laki dan perempuan? menggunakan bar chart, Ini menunjukkan perbedaan rata-rata berat badan antara kategori.
- Pertumbuhan tinggi badan: Melihat apakah ada pola kenaikan tinggi sesuai usia. menggunakan line chart, jika garis menunjukkan tren naik, berarti tinggi badan cenderung meningkat dengan bertambahnya usia.