In [3]:


while True:
    try:
        f = open('dataMahasiswa.txt', 'r') 
        baris = f.read()   
    except FileNotFoundError:
        print('file tidak ditemukan')
    except 
    else:
        print(baris)
    finally: 
        f.close()

try:
    with open ('dataNimMahasiswa.txt', 'w') as file:
    if len(nim) != 11 or not nim.indigit():
        praise ValueError("NIM harus terdiri dari 11 angka.")
    file.write(f'NIM: {nim}\n')

except ValueErrror as e:
    print(e)

try:
    with open("dataMahasiswa.txt", "w") as file:
        if len(nama) <5:
            raise ValueError("Nama yang kamu masukkan tidak valid")
        file.write(f"Nama : {nama}")

except ValueError as e:
    print(e)

try:
    with open("dataAlamat.txt", "w") as file:
        if len(alamat) <10:
            raise ValueError("Alamat yang kamu masukkan tidak valid")
        file.write(f"Alamat : {alamat}")

except ValueError as e:
    print(e)

try:
    with open("dataKelas.txt", "w") as file:
        if kelas != "TI23" or "TI24" :
            raise ValueError("Kelas yang kamu masukkan tidak valid")
        file.write(f"Kelas : {kelas}")

except ValueError as e:
    print(e)

20240040075
shelva
sukaraja
TI24

In [5]:
with open ('dataNimMahasiswa.txt', 'w') as file:
    nim = input('masukkan NIM anda : ')
    file.write(f'NIM: {nim}\n')

with open ('dataNamaMahasiswa.txt', 'w') as file:
    nama = input('masukkan nama anda : ')
    file.write(f'Nama: {nama}\n')

with open ('dataAlamatMahasiswa.txt', 'w') as file:
    nama = input('masukkan nama anda : ')
    file.write(f'Alamat: {alamat}\n')

with open ('dataKelastMahasiswa.txt', 'w') as file:
    nama = input('masukkan nama anda : ')
    file.write(f'Kelas: {kelas}')

masukkan NIM anda :  20240040075
masukkan nama anda :  shelva
masukkan alamat anda :  sukaraja
masukkan kelas anda :  TI24